.shadow {
  box-shadow: 0 2px 15px rgb(0 0 0 / 68%);
}

/* Chat List */
.ce-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #000814 !important;
}

.ce-chats-container {
  background-image: linear-gradient(to bottom, #73706d, #000814) !important;
  border-radius: 0px !important;
  padding: 20px;
}

.ce-chat-title {
  background-color: #000814 !important;
}

.ce-chat-list-mobile-option span {
  color: #f5efe8 !important;
}

.ce-chat-form-container {
  background-color: transparent !important;
  color: #f5efe8;
}

.ce-chat-form-container form {
  color: #73706d;
}

.ce-chat-card {
  margin: 0px 6px !important;
}

.ce-chat-card-loading-bar {
  background-color: #535a6d !important;
}

.ce-active-chat-card {
  background-color: #454545 !important;
}

.ce-chat-title-text {
  color: #f5efe8 !important;
  padding: 8px;
}

.ce-chat-subtitle-text {
  color: hsla(0, 0%, 100%, 0.568) !important;
  padding-top: 0px;
  padding-bottom: 10px;
  font-size: 20px;
}

/* Chat Feed */

.ce-chat-title-container {
  background-image: linear-gradient(to bottom, #73706d, #000814) !important;
  border-radius: 0px !important;
}

.ce-chat-feed-container {
  background-color: #000814 !important;
  padding: 20px;
}

.ce-primary-button {
  background-color: #403d39 !important;
  justify-content: center;
  align-items: center;
}

.ce-primary-button svg {
  font-size: 30px !important;
  padding-bottom: 10px;
}

.ce-message-date-text {
  color: hsla(0, 0%, 100%, 0.568) !important;
}

.ce-my-message-bubble {
  background-color: #696663 !important;
}

.ce-my-message-sending-bubble {
  background-color: #3e5c76 !important;
}

.ce-avatar-dot {
  background-color: #93b7be !important;
}

.ce-my-message-timestamp {
  color: #f5efe8 !important;
}

.ce-their-message-timestamp {
  color: hsla(0, 0%, 100%, 0.568) !important;
}

#ce-send-message-button {
  background-image: linear-gradient(to top, #73706d, #000814) !important;
  bottom: 155px !important;
  right: -20px !important;
  height: 50px !important;
  width: 50px !important;
}

.send-icon {
  margin-left: 17px !important;
}

.ce-social-message-form {
  background-color: #000814 !important;
  margin-right: 0.4px !important;
  width: auto !important;
}

.ce-message-input-form {
  padding-bottom: 68px !important;
  padding-top: 40px !important;
  border: 1px solid #6c757d !important;
}

#msg-textarea {
  width: calc(100% - 140px) !important;
  position: relative !important;
  top: 1px !important;
  padding-bottom: 30px !important;
  border-width: 0px !important;
  background-color: #000814 !important;
  color: #f5efe8 !important;
}
#msg-textarea::placeholder {
  color: hsla(0, 0%, 100%, 0.568) !important;
}

#ce-upload-document-icon {
  color: #f5efe8 !important;
  right: 20px !important;
}

.ce-feed-container-bottom {
  height: "64px";
}

.ce-their-message-sender {
  color: hsla(0, 0%, 100%, 0.568) !important;
}

.ce-their-message-bubble {
  background-color: #5a4b34 !important;
  color: rgba(255, 255, 255, 0.705) !important;
}

/* Chat Settings */

.ce-settings {
  background-image: linear-gradient(to bottom, #73706d, #000814) !important;
  border-radius: 0px !important;
  padding-top: 20px;
}

.ce-avatar {
  margin-bottom: 20px !important;
  background-color: #403d39 !important;
}

.ce-chat-title-form .ce-text-input {
  background-color: transparent !important;
  color: #f5efe8;
  padding-bottom: 20px !important;
}

.ce-section-title-container {
  background-color: transparent !important;
  color: #f5efe8;
}

#ce-options-drop-down {
  background-color: transparent !important;
  color: #f5efe8;
}

#ce-delete-chat-button {
  color: #f5efe8 !important;
  border: white !important;
}

.ce-person-text {
  color: hsla(0, 0%, 100%, 0.568);
}

.ce-autocomplete-close {
  background-color: #f5efe8 !important;
  border-radius: 0px !important;
}

.ce-chat-list-column {
  height: 100vh !important;
}

.ce-chat-feed-column {
  height: 100vh !important;
}

#ce-ice-breaker-gif {
  width: 0% !important;
}

.ce-chat-unread-dot {
  background-color: #3e5c76 !important;
}
