.todo-body {
  color: black;
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  padding: 10%;
}

header {
  font-size: 4rem;
  color: white;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
}

form button {
  background: white;
  color: #22223b;
  cursor: pointer;
  transition: all 0.3s ease;
}
form button:hover {
  background: #495057;
  color: #495057;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: white;
  color: black;
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
}

.todo li {
  flex: 1;
}

.trash-btn,
.complete-btn {
  background: gray;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}
.complete-btn {
  background: #4a4e69;
}

.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}

.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
select {
  color: black;
  width: 10rem;
  cursor: pointer;
  padding: 0.5rem;
}
.select::after {
  content: "\25BC";
  position: absolute;
  background: #22223b;
  color: white;
  top: 0;
  right: 0;
  height: 100%;
  padding: 0.5rem;
  pointer-events: none;
  transition: all 0.3s ease;
}

.select:hover::after {
  background: white;
  color: black;
}

@keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}
@-webkit-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}

@-moz-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}

@-webkit-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}

.background-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.stars {
  background: black
    url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  z-index: 0;
}

.twinkling {
  width: 10000px;
  height: 100%;
  background: transparent
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png")
    repeat;
  background-size: 1000px 1000px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;

  -moz-animation: move-background 70s linear infinite;
  -ms-animation: move-background 70s linear infinite;
  -o-animation: move-background 70s linear infinite;
  -webkit-animation: move-background 70s linear infinite;
  animation: move-background 70s linear infinite;
}

.clouds {
  width: 10000px;
  height: 100%;
  background: transparent
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/clouds_repeat.png")
    repeat;
  background-size: 5000px 5000px;
  background-position: 300px 0;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 3;

  -moz-animation: move-background 100s linear infinite;
  -ms-animation: move-background 100s linear infinite;
  -o-animation: move-background 100s linear infinite;
  -webkit-animation: move-background 100s linear infinite;
  animation: move-background 100s linear infinite;
}
.todo-img {
  height: 70vh;
  width: 70vh;
  position: absolute;
  z-index: 3;
  right: 20px;
}

/* Set the font size and padding to be smaller on mobile */
@media screen and (max-width: 600px) {
  .todo-body {
    padding: 5%;
  }

  header {
    font-size: 2rem;
  }

  form input,
  form button {
    font-size: 1rem;
  }

  .todo {
    font-size: 1rem;
  }

  .select {
    margin: 0.5rem;
  }

  select {
    width: 5rem;
    padding: 0.25rem;
  }

  .twinkling {
    background-size: 500px 500px;
  }

  .clouds {
    background-size: 2500px 2500px;
  }
}

/* Set the font size and padding to be larger on large screens */
@media screen and (min-width: 1200px) {
  .todo-body {
    padding: 15%;
  }

  header {
    font-size: 4rem;
  }

  form input,
  form button {
    font-size: 2rem;
  }

  .todo {
    font-size: 2rem;
  }

  .select {
    margin: 1.5rem;
  }

  select {
    width: 10rem;
    padding: 1rem;
  }

  .twinkling {
    background-size: 1500px 1500px;
  }

  .clouds {
    background-size: 7500px 7500px;
  }
}
